.sidebar {
  width: 250px;
  background: #fff;
  padding-top: 25px;
}

.list {
  list-style: none;
  margin-bottom: 30px;

  .title {
    font-weight: 300;
    font-size: 0.8em;
    padding: 10px 20px;
    text-transform: uppercase;
  }
  
  a {
    display: block;
    padding: 5px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    &.active {
      border-left-color: #00adef;
      color: #00adef;
    }
  }
}
