.confirmation {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  background: rgba(255,255,255,.85);

  & > * {
    margin-bottom: 15px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.controls button {
  margin-right: 15px;
}