.loadContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  
  &.reversed {
    flex-direction: column-reverse;
  }
  
  .toggler {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, rgba(255,255,255,1) 50%, rgba(255,255,255,0));
  }
}