.appWrapper {
  display: flex;
  flex: 1;
  border-image: linear-gradient(to right,#73D2F6,#08C 22%,#7FC400 36%,#FFD583 48%,#FFB21E 63%,#FF4D4D 76%,#503873);
  border-image-slice: 1;
  border-top-width: 3px;
  border-top-style: solid;
  font-size: 1.6rem;
}