.commentForm {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;

  &:first-child {
    padding-top: 0;
  }

  & > * {
    margin-bottom: 15px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  textarea {
    padding: 10px 15px;
    border: 1px solid #d0d8db;
    border-radius: 5px;

    &:focus {
      border-color: #afb6b9;
    }

    &:invalid + .controls .submit {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.controls button {
  margin-right: 15px;
}