* {
  box-sizing: border-box;
  outline: none;
  user-select: none;
}

html {
  font-family: 'Helvetica Nueu', 'Helvetice', 'Arial', sans-serif;
  font-size: 10px;
  color: #456;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1em;
}

input, textarea {
  font-size: inherit;
  color: inherit;
}

a:hover {
  color: #00adef;
}

.fa {
  color: inherit;
}

#app-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.subtitle {
  font-size: 1.2rem;
  color: #879cab;
}

button {
  color: #00adef;
  border: 1px solid #00adef;
  border-radius: 5px;
  padding: 10px 15px;
  background: none;
  font-weight: 600;
  font-size: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  color: #fff;
  background: #00adef;
}