.mediumGrid {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;

  & > * {
    border: 10px solid transparent;
    width: calc(100% / 2);
    
    @media only screen and (min-width: 1366px) {
      width: calc(100% / 3);
    }

    @media only screen and (min-width: 1920px) {
      width: calc(100% / 4);
    }
  }
}